<div class="share-popup hidden">
  <a href="#">FB</a>
  <a href="#">Twitter</a>
  <a href="#">Google</a>
</div>

<footer class="footer gradient-bg">
  <p> &copy; 2018 Dziugas Meskauskas</p>
  <nav class="navbar">
    <ul>
      <li>
        <a class="social social-bb" href="https://bitbucket.org/SurisDziugas/portfolio"></a>
      </li>
      <li>
        <a class="social social-fb" href="https://facebook.com"></a>
        </li>
      <li>
        <a class="social social-in" href="https://linkedin.com"></a>
      </li>
    </ul>
  </nav>
</footer>