@import '~sass/app';

.card {
  flex: 1 0 calc(25% - 30px);
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;

  &-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  &-content {
    flex-grow: 1;
    padding: 10px;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
  }
  
  &-img {
    width: 100%;
    height: 250px;
    margin-bottom: 15px;
    @include breakpoint(mobile) {
      width: 100%;
      height: auto;
    }
  }

  &-title {
    margin-bottom: 5px;
  }
  
  &-date {
    margin-bottom: 15px;
    display: block;
  }
  
  &-excerpt {
    margin-bottom: 30px;
    font-size: 14px;
    flex-grow: 1;
  }
  
  &-link {
    text-decoration: none;
    margin-bottom: auto;
  }
  

  &:first-child {
    flex: 1 0 calc(32.5% - 30px);
    
    @include breakpoint(tablet) {
      flex: 1 0 calc(60% - 30px);
    }
    @include breakpoint(mobile) {
      flex: 1 0 calc(100% - 30px);
    }
  }

  &:nth-child(n+2):nth-child(-n+4) {
    flex: 1 0 calc(22.5% - 30px);

    @include breakpoint(tablet) {
      flex: 1 0 calc(40% - 30px);
    }
    @include breakpoint(mobile) {
      flex: 1 0 calc(100% - 30px);
    }
  }

  @include breakpoint(tablet) {
    &,
    &:nth-child(n+3):nth-child(-n+4)  {
      flex: 1 0 calc(50% - 30px);
    }
  }

  @include breakpoint(mobile) {
    &,
    &:nth-child(n+3):nth-child(-n+4)  {
      flex: 1 0 calc(100% - 30px);
    }
  }  
}
