<div class="card">
  <img class="card-img" role="presentation" src="http://via.placeholder.com/200x300/" alt="Article featured image">
  <div class="card-content">
    <h2 class="card-title">{{post.title}}</h2>
    <time class="card-date" >{{post.date}}</time>
    <p class="card-excerpt">{{post.excerpt}}</p>
    <a class="card-link" href="#">Read more</a>
  </div>
</div>